# GEMINI_API_KEY: Required for Gemini AI API (Server-side prefereed)
GEMINI_API_KEY=

# TAVILY_API_KEY: Required for web search (Server-side)
TAVILY_API_KEY=

# AIRTABLE_API_KEY: Required for database storage (Server-side)
AIRTABLE_API_KEY=

# AIRTABLE_BASE_ID: The ID of your Airtable base
AIRTABLE_BASE_ID=

# AVLYTEXT: Required for automated WhatsApp alerts to logic (Cameroon)
AVLYTEXT_API_KEY=
AVLYTEXT_URL=https://api.avlytext.com/external/whatsapp/send
